body{
  background: rgb(232,232,244);
background: linear-gradient(90deg, rgba(232,232,244,1) 0%, rgba(244,225,249,1) 41%, rgba(215,243,249,1) 100%) !important;
}
.bd-placeholder-img {
  font-size: 1.125rem;
  text-anchor: middle;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
}
/* Bootstrap Overwright  */
.row{
  --bs-gutter-x: 0rem !important;
}

.carousel-inner{
margin-bottom: 1rem;
}

.navbar-brand{
  font-family: 'ChickenScratch AOE', sans-serif !important;
  font-size: 2rem !important;
  padding-left: 2.5rem;
}
.img-fluid{
  border-radius: 2rem;
}
/* Bootstrap Overwright  */

.bi {
  vertical-align: -.125em;    
  fill: currentColor;
}


.bi:hover,.bi:focus{
  color: rgb(5, 5, 5);
  font-weight: bold;
}

.navtop {
  background-color: white;
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  z-index: 1030;
  color: black !important;
 
}
.lgcard{
  background-color: rgb(227, 233, 231);
  padding: 2rem !important;
  border: rgb(252, 251, 251) solid ;
  border-radius: 2rem;
  margin-bottom: 1rem;  
}


.logo{
  width: 180px;
}
.icon{
  width: 70px;
}
.navitems{
  align-items: center;
  margin-left: 3rem;
}
.navbar-lights a{
  color: black !important;
}

.bodycontainer{
  padding: 0% 5% 0 5%;
}
.start-1{
  padding-top: 1rem;
}
.carousel-item {
  position: relative;
  float: left;
  width: 100%;
  margin-right: -100%;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  transition: transform 0.5s ease-in-out;
}

.carousel-control-prev,
.carousel-control-next {
  position: absolute;
  top: 0;
  bottom: 0;
  z-index: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 15%;
  padding: 0;
  color: #fff;
  text-align: center;
  background: none;
  border: 0;
  opacity: 0.5;
  transition: opacity 0.15s ease;
}

.navbar-lights .navbar-text a,
.navbar-light .navbar-text a:hover,
.navbar-light .navbar-text a:focus {
  color: rgba(168, 27, 27, 0.9);
}
.shape {
 margin-top: 1rem;
 text-align: center;
 padding: 0;
  
}
.catround{
  background-color: rgb(255, 255, 255) !important;
  padding: 1rem;
  border-radius: 50%;
  margin-bottom: 1rem ;
  
}

.bg-fill{
  background-color: #f1f2ed;
}
.item-row{
  margin: 0 0rem 0rem 1rem;
}
.item{
  background-color: rgb(227, 233, 231);
  border-radius: 1rem;
  text-align: center;
  border:#f1f2ed solid;
  margin-bottom: 1rem;

}
.item-img{
  margin-top: 1rem;
}
.tags{
  font-size: 1rem;
}
.center{
  
  text-align: center;
  
}
.card{
  border-radius: 2rem !important;
  border: #f1f2ed solid;
  
}
.card-img{
  border-radius: 1rem;
}
@media (min-width: 768px) {
  .bd-placeholder-img-lg {
    font-size: 3.5rem;
  }
}