.navbar{
    padding-top: 0 !important;
}

.secnav, .tnav{
    background-color: #16b3ad !important;
   }

.navtext:hover,.navtext:focus{
    color: #000 !important;
    font-weight: 700;
    
}

.brandsubtext {
    margin-top: -10px !important;
    margin-bottom: 0rem !important;
    margin-left: 2.15rem !important;
}
.mLogo{
    padding-left: 10rem;
    width: 15rem;
    box-sizing: unset;
}   
.navtext-active{
    color: #62550d !important;
    font-weight: bold;
    background-color: #e5e1d3d8;
    border-radius: 1rem;
}
.navtext{
    color: #62550d !important;
    font-weight: 500;
}

/* must check the usage */
.navbar-brand{
    font-family: 'ChickenScratch AOE', sans-serif !important;
    font-size: 2rem !important;
    padding-left: 2.5rem;
  } 
  .navtop {
    background-color: white;
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    z-index: 1030;
    color: black !important;
   
  }
  .navitems{
    align-items: center;
    margin-left: 3rem;
  }
  .navbar-lights a{
    color: black !important;
  }
/* back to top butten css */
  #myBtn {
    display: none; /* Hidden by default */
    position: fixed; /* Fixed/sticky position */
    bottom: 10%; /* Place the button at the bottom of the page */
    right: 5%; /* Place the button 30px from the right */
    z-index: 99; /* Make sure it does not overlap */
    border: none; /* Remove borders */
    opacity: .7;
    outline: #62550dc0; /* Remove outline */
    color: #62550dc0; /* Text color */
    cursor: pointer; /* Add a mouse pointer on hover */
    padding: 10px; /* Some padding */
    border-radius: 10px; /* Rounded corners */
    font-size: 1rem; /* Increase font size */
  }
  
  #myBtn:hover {
    background-color: #e5e1d3d8; /* Add a dark-grey background on hover */
    color: #050400;
  }

  .navbar-lights .navbar-text a,
.navbar-light .navbar-text a:hover,
.navbar-light .navbar-text a:focus {
  color: rgba(168, 27, 27, 0.9);
}
