.navbar{
    padding-top: 0 !important;
}

.secnav, .tnav{
    background-color: #f5faf5 !important;
   }

.navtext:hover,.navtext:focus{
    color: #000 !important;
    font-weight: 500;
    
}

.brandsubtext {
    margin-top: -10px !important;
    margin-bottom: 0rem !important;
    margin-left: 2.15rem !important;
}
.mLogo{
    padding-left: 10rem;
    width: 15rem;
    box-sizing: unset;
}    